@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Comfortaa light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../font/Comfortaa-Light.ttf) format("opentype");
}
@font-face {
  font-family: 'Comfortaa Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/Comfortaa-Bold.ttf) format("opentype");
}

/*@keyframes moveright{
	0% {
    transform: translate3d(0, 0);
  }

  100% {
    transform: translate3d(200px, 200px);
  }
}
*/